@use "../../foundation/color" as c;
@use "../../foundation/fonts" as f;
@use "../../foundation/mixin" as *;



.c-section-heading {
  padding-bottom: responsiveValue(50px,30px);
  h2 {
    font-size: responsiveValue(3.0rem,2.4rem);
    font-family: f.$font-family-zenkaku;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      width: 50px;
      height: 20px;
      background-image: url(../img/common/heading01-dec.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateY(-20px);
      @include mq(sp) {
        width: 30px;
        height: 10px;
        transform: translateY(-12px);
      }
    }
  }
  span {
    display: block;
    font-size: 1.4rem;
    color: c.$text-color;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    transform: translateY(15px);
    @include mq(sp) {
      font-size: 1.2rem;
      transform: translateY(7px);
    }
  }
  &-left {
    display: flex;
    justify-content: flex-start;
  }
  &-right {
    display: flex;
    justify-content: flex-end;
  }
}


.c-section-heading--white {
  margin-bottom: responsiveValue(50px,30px);
  h2 {
    font-size: responsiveValue(3.0rem,2.4rem);
    font-family: f.$font-family-zenkaku;
    color: c.$white-color;
    font-weight: 400;
    text-align: center;
    line-height: responsiveValue(4.0rem,3.4rem);
    letter-spacing: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      width: 50px;
      height: 20px;
      background-image: url(../img/common/heading01-dec--white.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateY(-15px);
      @include mq(sp) {
        width: 30px;
        height: 10px;
        transform: translateY(-10px);
      }
    }
  }
  span {
    display: block;
    font-size: responsiveValue(1.4rem,1.2rem);
    color: c.$white-color;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0px;
    transform: translateY(10px);
    @include mq(sp) {
      transform: translateY(5px);
    }
  }
}