@use "../../foundation/color" as c;
@use "../../foundation/fonts" as f;
@use "../../foundation/mixin" as *;

.p-contact {
  &__headtext {
    width: 100%;
    line-height: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dotted c.$main-black;
    @include mq(sp) {
      line-height: 25px;
    }
  }

  &__important-text {
    font-weight: bold;
    color: c.$accent-color;
  }

  &__form-list {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: space-between;
    margin-bottom: 20px;
    br { display: none; }
  }

  &__form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &:nth-child(1) {
      .p-contact__form-radio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        .wpcf7-list-item {
          margin-left: 0px;
          margin-bottom: 15px;
          input {
            transform: scale(1.2);
            accent-color: c.$main-black;
            margin-right: 5px;
          }
        }
      }
    }

    &:nth-child(1) ,&:nth-child(2), &:nth-child(3) {
      width: 47%;
    }

    @include mq(sp) {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        width: 100%;
      }
    }

    &:nth-child(5) label, &:nth-child(6) label {
      position: absolute;
    }
  }

  &__form-label {
    font-weight: bold;
    margin-bottom: 8px;
    @include mq(sp) {
      margin-bottom: 3px;
    }
  }

  &__form-input,
  &__form-textarea {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    background-color: c.$sub-gray;
    border: 1px solid rgba(134, 134, 134, 0.216);
    outline: none;
    margin-top: 10px;
  }

  &__form-input {
    border-radius: 10px;
  }

  &__form-textarea {
    line-height: 1.3em;
    height: 200px;
    border-radius: 10px;
    resize: none;
  }

  &__confirm-input-text {
    font-size: 15px;
    margin-top: 5px;
  }

  &__submit-btn {
    margin: 0 auto 10px;
  }

  &__correction-btn {
    background-color: c.$sub-gray;
    color: c.$main-black;
  }

  &__thanks-text {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 58svh;
  }
}

.wpcf7-form-control-wrap {
  width: 100%;
}


@include mq(sp) {
  .c-btn {
    width: clamp(200px,100%,300px);
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
}
